openai==1.99.9
smolagents @ git+https://github.com/benediktstroebl/smolagents@0c62b18dde5a163370919888290ff4f506dc918c
mammoth
python_pptx>=1.0.2
pdfminer>=20191125
pdfminer.six>=20240706
puremagic>=1.28
pydub
youtube_transcript_api>=0.6.2
SpeechRecognition
tiktoken
pandas
litellm @ git+https://github.com/BerriAI/litellm@05955042d57fcc32c73223221d69c8336ecd5994
msal
