appworld @ git+https://github.com/StonyBrookNLP/appworld@8e7c06397df0c6e6c851588e63e3e15545366aa1
openai==1.99.9
smolagents @ git+https://github.com/benediktstroebl/smolagents@0c62b18dde5a163370919888290ff4f506dc918c
mammoth
python_pptx>=1.0.2
pdfminer>=20191125
pdfminer.six>=20240706
puremagic>=1.28
pydub
youtube_transcript_api>=0.6.2
SpeechRecognition
tiktoken
pandas
litellm==1.76.0
wandb==0.17.9